.notice {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #f1cc81;
}

.alert {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #CC3333;
}