<ul class="navbar-list">
  <li class="navbar-item"><a class="navbar-link" href="/">My Approach</a></li>
  <li class="navbar-item"><a class="navbar-link" href="/driving_records">Trips</a></li>
  <li class="navbar-item"><a class="navbar-link" href="/drivers">Drivers</a></li>
  <li class="navbar-item"><a class="navbar-link" href="/upload">Upload Records</a></li>
</ul>